<footer class="footer-area" id="footer">
  <div class="container footer-container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 links">
        <div class="logo-footer">
          <%= link_to root_path do %>
            <%= image_tag "https://res.cloudinary.com/juandev/image/upload/v1557142867/choriLogo.jpg", class: "avatar-bordered" %>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 links">
        <h6 class="text-uppercase font-weight-bold"><%= t '.title_useful' %></h6>
        <p><%= link_to(t('.about_link'), about_path) %></p>
        <p><%= link_to(t('.how_link'), how_path) %></p>
        <% if mobile_device == "mobile" %>
          <% url = "https://wa.me/330615590799?text=Hola.%20Necesito%20chorizos%20el%20dia%20" %>
        <% else %>
          <% url = "https://web.whatsapp.com/send?phone=330615590799&text=Hola.%20Necesito%20chorizos%20el%20dia%20" %>
        <% end %>
        <p><%= link_to(t('.order_link'), url, target: "_blank") %></p>
      </div>
      <div class="col-12 col-sm-6 col-md-5 links">
        <h6 class="text-uppercase font-weight-bold"><%= t '.title_contact' %></h6>
        <p><i class="fas fa-home mr-3"></i><%= t '.address' %></p>
        <p><i class="fas fa-envelope mr-3"></i>hi@elmandeloschorizos.com</p>
        <p><i class="fas fa-phone mr-3"></i>+33 0615 590 799</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3 links">
        <h6 class="text-uppercase font-weight-bold"><%= t '.title_social_media' %></h6>
        <p>
          <%= link_to "https://www.facebook.com/elmandeloschorizos/", target: "_blank", class: "s-icon" do %>
            <i class="fab fa-facebook-f"></i>
          <% end %>
        </p>
        <p>
          <%= link_to "https://www.instagram.com/el_man_de_los_chorizos/", target: "_blank", class: "s-icon" do %>
            <i class="fab fa-instagram"></i>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center">
    <%= t '.copy_right' %><%= link_to "JuanDev", "https://www.linkedin.com/in/juancarbe", target: "_blank" %>
  </div>
</footer>
