<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/juandev/image/upload/v1557142867/choriLogo.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><%= link_to "HOME", root_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "ABOUT", about_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "HOW IS MADE?", how_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "FAQs", "#", class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "ORDER", "#", class: "nav-link" %></li>
    </ul>
  </div>
</div>
