<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/juandev/image/upload/v1557142867/choriLogo.jpg" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">🌐 <%= t('.language') %></a>
        <div class="dropdown-menu" aria-labelledby="dropdown09">
          <%= link_to_unless_current "🇬🇧 English", {locale: "en"}, {class: "dropdown-item"} do %>
            <!-- <span class="flag-icon flag-icon-gb"> </span> -->
          <% end %>
          <%= link_to_unless_current "🇨🇴 Español", {locale: "es"}, {class: "dropdown-item"} do %>
            <!-- <span class="flag-icon flag-icon-co"> </span> -->
          <% end %>
          <%= link_to_unless_current "🇫🇷 Français", {locale: "fr"}, {class: "dropdown-item"} do %>
            <!-- <span class="flag-icon flag-icon-fr"> </span> -->
          <% end %>
        </div>
      </li>
      <li class="nav-link <%= active?("/#{I18n.locale.to_s}") %>">
        <%= link_to(t('.home_link'), root_path) %>
      </li>
      <li class="nav-link <%= active?("/#{I18n.locale.to_s}/about") %>">
        <%= link_to(t('.about_link'), about_path) %>
      </li>
      <li class="nav-link <%= active?("/#{I18n.locale.to_s}/how") %>">
        <%= link_to(t('.how_link'), how_path) %>
      </li>
      <% if mobile_device == "mobile" %>
          <% url = "https://wa.me/33615590799?text=Hola.%20Necesito%20chorizos%20el%20dia%20" %>
        <% else %>
          <% url = "https://web.whatsapp.com/send?phone=33615590799&text=Hola.%20Necesito%20chorizos%20el%20dia%20" %>
        <% end %>
      <li class="nav-link <%= active?("/#{I18n.locale.to_s}/order") %>">
        <%= link_to(t('.order_link'), url, target: "_blank") %>
      </li>
    </ul>
  </div>
</div>
