<div class="home-first-scroll" id="top">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/juandev/image/upload/v1557315738/choriCup.jpg)">
    <div class="banner-container">
      <h1><strong><%= t '.title' %></strong></h1>
      <p><%= t '.subtitle' %></p>
      <div class="banner-mouse center-items">
        <a href="#screen-2" class="js-animate-to"><div class="mouse"><span></span></div></a>
      </div>
    </div>
  </div>
</div>
<div class="space-block"></div>
<div class="home-screen" id="screen-2">
  <div class="container">
    <p><%= t '.paragraph1' %></p>
  </div>
  <div class="space-block"></div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/juandev/image/upload/v1557399289/choriMochila.jpg)"></div>
  <div class="space-block"></div>
  <div class="container">
    <p><%= t '.paragraph2' %></p><br>
    <p><%= t '.paragraph3' %></p>
  </div>
  <div class="space-block"></div>
</div>

